<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://kit.fontawesome.com/fb5c6b36cf.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <link rel="stylesheet" href="/style/feed.css">
  <title>Instadupe</title>
  <link rel="icon" type="image/x-icon" href="../favicon.png">
</head>


<body>

  <nav class="topnav">
    <div>
      <a href="/main/feed"> Feed </a>
      <a href="/main/newPost"> Post </a>
      <a href="/user/<%=userId%>/profile"> User Profile </a>
      <a href="/logout"> Logout</a>
    </div>
  </nav>

  <% posts.forEach(function(post){ %>
    <div class="postContainer">
      <a href="/main/<%=post._id%>"> <img src="data:post/<%=post.image.contentType%>;base64,
    <%=post.image.data.toString('base64')%>"> </a>
    <button class="btn" id="like"><i class="fa-regular fa-heart"></i></button>  
    <button class="btn" id="dislike"><i class="fa-solid fa-heart-crack"></i></button>  
    
    <div class="caption">
        <h1>
          <%=post.caption%>
        </h1>
      </div>

    </div>
    <form action="/main/feed/<%=post._id%>/edit">
      <button>Edit Caption</button>
    </form>
    <form action="/main/feed/<%=post._id%>?_method=DELETE" method="POST">
      <button>Delete Post</button>
    </form>

    <form action="/main/<%=post._id%>">
      <button>Comment</button>
    </form>
    <% }) %>

</body>

</html>