<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <link rel="stylesheet" href="/style/feed.css">
  
  <title>Instadupe</title>
</head>


<body>
  <% posts.forEach(function(post){ %>
    <div class="postContainer">
      <img src="data:post/<%=post.image.contentType%>;base64,
    <%=post.image.data.toString('base64')%>">
      <div class="caption">
        <h1>
          <%=post.caption%>
        </h1>
      </div>
    </div>
    <form action="/main/feed/<%=post._id%>/edit">
      <button>Edit Caption</button>
    </form>
    <form action="/main/feed/<%=post._id%>?_method=DELETE" method="POST">
      <button>Delete Post</button>
    </form> 
    <%-include('./comments.ejs', {comments: comments})%>
    <% }) %>

</body>

</html>