<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../public/style/user_profile.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=user.name%>'s Profile'>
    </title>
    <link rel="stylesheet" href="/style/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <!-- basic layout to test database connection and starting point for layout -->
    <div class="username">
        <%=user.name%>
    </div>
    <div class="profileImageContainer">
        <img class="profileImage" src="<%=user.image%>" alt="user profile image">
    </div>
    <div class="profileStats">
        <h3 class="mr">
            <%=user.following%> following
        </h3>
        <h3 class="mr">
            <%=user.followers%> followers
        </h3>
    </div>
    <div class="bio">
        <p>
            <%=user.bio%>
        </p>
    </div>
    <div>
        <h3>Posts</h3>
        <div>
            <%= posts[0].caption %>
        </div>
    </div>

</body>

</html>